# Build output:
/.parcel-cache/
/cache/
/dist/
/lib/
/clientConfig.json
/config.json
/twitterex.txt

# Package managers:
node_modules/
npm-debug.log
yarn.lock
yarn-error.log

# Editors:
.DS_Store
.idea/
